@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles untuk Material Icons */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.coral-pill {
    border-radius: 22px;
}

.card-shadow {
    border: 0.5px solid #EBEBEB;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}
